ol,
ul {
  padding-left: 30px;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}
.status {
  margin-bottom: 10px;
}
.square {
  background: var(--white);
  border: 1px solid rgba(58, 58, 58, 0.3);
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 175px;
  width: 175px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 20px;
}

.gameArea {
  padding: 0 100px 0 100px;
  width: 100%;
  position: absolute;
  left: 80%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

 .boardRows {
  width: 600px;
}
.game-board {
  justify-content: center;
}
.gameWrapper {
  width: 20%;
  position: absolute;
  top: 75%;
  left: 60%;
}
.chatGamebox,
.chatGameForm {
  width: 900px;
}
.chatGamebox {
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding: 30px;
}

.userGameMessage {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}

.otherGameUsers {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}

.gameWrapper {
  height: calc(100vh - 292.74px) !important;
  padding-top: 30px;
}

.userGameMessage,
.otherusers {
  width: 400px;
}

.userGameMessage {
  text-align: right;
}


.chatGameInput {
  box-shadow: none;
  border: 1px solid rgba(58, 58, 58, 0.4);
  outline: none;
  background-color: transparent;
  min-height: 30px;
  margin-bottom: 20px;
  width: 100%;
}

.chatGameSubmit {
  background-color: var(--yellow);
  border: 1px solid rgba(58, 58, 58, 0.4);
  font-family: "Montserrat", sans-serif;
  height: 30px;
  width: 160px;
  cursor: pointer;
}


.chatGameBox {
  width: 100px;
}
.chatGameInput, .chatGameSubmit {
  box-shadow: none;
  border: 1px solid rgba(58, 58, 58, 0.4);
  outline: none;
  background-color: transparent;
  min-height: 30px;
  margin-bottom: 20px;
  width: 100%;
  margin-left: -5%;
}
.chatGameSubmit {
  background-color: var(--yellow);
}
.userGameMessage {
  display: flex;
  align-self: flex-end;
  flex-direction: column;
}
.userGameMessage,
.otherGameUsers {
  margin-left: 300%;
  width: 400px;
}

.userGameMessage {
  text-align: right;
}
.chatGameBox {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 80%;
  overflow: scroll;
}
